<h1>Thanks for signing up!</h1>
<p>You need to activate your account by clicking this link:<br/>
<%= link_to nil, user_feeds_url(@user, :host => "thecoffeelog.com") %></p>

<p>Once activated your user will begin recieving updates for the following feeds:</p>
<%- @success.each do |feed| -%>
  <h2><%= feed.title %></h2>
  <%- feed.most_recent_items.each do |entry| -%>
    <h3><%= link_to entry.title, entry.link %></h3>
    <%= entry.content %>
  <%- end -%>
<%- end -%>

<p>To add more feeds simple email subscribe@thecoffeelog.coom, with any new sites in the body of your message.</p>