Thanks for signing up! You need to activate your account by clicking this link:
<%= @user.activation_link %>

Once activated your user will begin recieving updates for the following feeds:
<%- @success.each do |feed| -%>
  <h2><%= feed.title %></h2>
  <%- feed.most_recent_entries.each do |entry| -%>
    <h3><%= link_to entry.title, entry.link %></h3>
    <%= entry.content %>
  <%- end -%>
<%- end -%>