<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>TheCoffeeLog - Site Updates in Your Inbox Every Morning</title>
    <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" charset="utf-8" />
  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1><a href="/">TheCoffeeLog</a></h1>
        <h2>
          <em>Send us an <a href="mailto:subscribe@thecoffeelog.com?body=http://daringfireball.net">email</a>;</em> we&rsquo;ll send updates
          from you
      </div>
    </div>

    <div id="content" class="manage">
      <div class="container">

        <% if @first_visit %>
        <div id="welcome_message">
          Welcome to TheCoffeeLog! Thanks for trying our product.
        </div>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="why">
          <h3>Why Use TheCoffeeLog?</h3>

          <ul>
            <li>
              <strong>No logins required</strong> &ndash; sign up with an
              email, and manage
              your subscriptions by following the link at the bottom
              of each email.
            </li>

            <li>
              <strong>As minimal as possible</strong> &ndash;
              no application to download or website to navigate.
            </li>

            <li>
              <strong>No distractions</strong> &ndash;
              just an email in your inbox when you
              wake up.
            </li>
          </ul>
        </div>

        <div class="privacy">
          <h3>Privacy Policy</h3>

          We promise never to share your email or subscription
          information with anyone. Ever.
        </div>

        <div class="who">
          <h3>Who We Are</h3>

          <strong>TheCoffeeLog</strong> was created by
          <a href="http://www.linkedin.com/pub/barbara-puccio/3/84a/bb5">Barbara Puccio</a>,
          <a href="http://renprovey.com">Ren Provey</a>, and
          <a href="http://davideisinger.com">David Eisinger</a> as part of the
          2009 <a href="http://railsrumble.com">Rails Rumble</a>.
        </div>

        <div class="copyright">
          Copyright &copy; 2009 The TheCoffeeLog Team
        </div>
      </div>
    </div>
  </body>
</html>